<ion-pane class="start-bg">
  <ion-content>
  	<div class="row logo-top">
  		<div class="col">
  			<img class="img-login" ng-src="img/TOP_ICON.png">
  		</div>
  	</div>
  	<div class="row select-top">
  		<div class="col" align="center">
  			<select id="selectTagRight">
  				<option value="" selected>City Name</option>
  				<option value="chn">Chennai</option>
  				<option value="tuty">Tuticorin</option>
  			</select>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col" align="center">
  			<select id="selectTagLeft">
  				<option value="" selected>Theater Name</option>
  				<option value="sathiyam">Sathiyam</option>
  			</select>
  		</div>
  	</div>
  	<div class="row search-top">
  		<div class="col" align="center">
  			<button ui-sref="fonic.home" class="button cus-start-but">Show Menu</button>	
  		</div>
  	</div>
  	<div class="row social-top">
  		<div class="col" align="right">
  			<button ui-sref="fonic.home" class="button cus-start-but bold-text">Login</button>
  		</div>
  		<div class="col" align="left">
  			<button ui-sref="fonic.home" class="button cus-start-but bold-text">Sign up</button>
  		</div>
  	</div>
  </ion-content>
</ion-pane>